* {
  margin: 0;
  padding: 0;
}

.formulario__cabecalho {
  color: white;
  background: blue;
  display: flex;
  justify-content: center;
  font-size: 34px;
  padding: 1em 0;
}

.formulario__blocoDeCampos {
  border: none;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.formulario__blocoDeCampos__nome {
  margin-top: 1em;
}

.tabela {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabela li {
  list-style: none;
}

