:root {
  --fonte-principal: "Kumbh Sans";
  --fonte-branca: #FFF;
  --fonte-descricao: #ACACAC;
  --fonte-input: #8A8A8A;
  --fundo-card: #1D1C3B;
  --fundo: #17162E;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--fundo);
  color: var(--fonte-branca);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
}

.titulo {
  font-size: 36px;
  font-weight: 600;
}

.caixa-pesquisa {
  color: var(--fonte-input);
  border-radius: 8px;
  opacity: 0.2;
  background: var(--fonte-branca);
  width: 39em;
  height: 4em;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
}

.caixa-pesquisa__input {
  border-style: none;
  width: 100%;
  outline: 0;
}

.caixa-pesquisa a {
  height: fit-content;
  width: fit-content;
}

.campos {
  display: flex;
  border: none;
  gap: 1em;
  align-items: center;
}

.campos__check {
  margin: 2em 0;
}

.campos__check__texto {
  font-weight: 600;
}

.filmes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.filmes__card {
  display: grid;
  grid-template-areas: "img h2 p";
  grid-template-columns: auto 1fr 1.5fr;
  background: var(--fundo-card);
  border-radius: 8px;
  list-style: none;
  margin-bottom: 1.5em;
  padding: 1em;
  gap: 2.5em;
  max-width: 80%;
}

.filmes__card__imagem {
  grid-area: img;
  border-radius: 80px;
  width: 7em;
  height: 7em;
}

.filmes__card__div {
  display: flex;
  flex-direction: column;
}

.filmes__card__div__titulo {
  font-size: 18px;
  grid-area: h2;
}

.filmes__card__div__favoritos {
  display: flex;
  align-items: center;
}

.filmes__card__div__favoritos__botaoFavorito {
  cursor: pointer;
}

.filmes__card__div__favoritos span {
  margin: 0 2em;
}

.filmes__card__descricao {
  grid-area: p;
  color: var(--fonte-descricao);
  max-width: 70%;
}

