.cabecalho {
  padding: 6em 0em;
  text-align: center;
}

.cabecalho__texto {
  color: var(--vinho);
  font-weight: 600;
}

.cabecalho__titulo {
  font-weight: 600;
  font-size: 48px;
}

.cabecalho__paragrafo {
  font-weight: 400;
  font-size: 20px;
  color: var(--fonte-cinza);
  padding: 0 18em;
}