.secao-vagas {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.secao-vagas__texto {
  font-size: 20px;
  margin-bottom: 3em;
}

.secao-vagas__card {
  border-radius: 16px;
  display: flex;
  padding: 24px 24px 28px 24px;
  flex-direction: column;
  gap: 24px;
  border: 1px solid var(--bordas);
  margin-bottom: 3em;
}

.secao-vagas__card__titulo {
  font-size: 18px;
}

.informacoes {
  color: var(--fonte-cinza);
}

.informacoes span {
  margin-right: 3em;
}
